NDATABASE=biblioteca
DB_USER=superusuario
DB_PASSWORD=senha_super_usuario
DB_PORT=5432
DB_CONNECTION_STRING_ADMIN=Host=service;Port=5432;Database=nome_do_database;Username=superusuario;Password=senha_super_usuario
USER_DB_USER=usuario_comum
USER_DB_PASSWORD=senha_usuario_comum
DB_CONNECTION_STRING_USER=Host=service;Port=5432;Database=;Username=appuser;Password=senha_usuario_comum
JWT_SECRET_USER=crie_uma_chave-32_caracteres
JWT_ISSUER=nome_issuer
JWT_AUDIENCE_USER=nome_audiencia
JWT_EXPIRATION_HOURS=defina_tempo
JWT_SECRET_CLIENT=crie_uma_chave-32_caracteres
JWT_AUDIENCE_CLIENT=nome_audiencia_client
JWT_EXPIRATION_HOURS=defina_tempo